{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="content-section">

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <br>
            <label>Enter Your Website</label>
            <br>

            <input type="text" name="website_name" /></div>
</div>
<br>
<div class="form-group">
    <button class="btn btn-outline-info" type="submit">SUBMIT</button>
</div>

</form>



</div>

{% endblock content %}